.techCardContainer {
	display: inline-block;
	padding: 6px 15px;
	
	font-family: "Inter";
	font-weight: 600;
	border-radius: 3px;
	width: 0px;
	overflow: hidden;
	text-align: center;
	opacity: 0;
	transition: 0.3s;
}

.techCardOpen {
	display: inline-block;
	padding: 6px 15px;
	
	font-family: "Inter";
	font-weight: 600;
	border-radius: 3px;
	width: 130px !important;
	overflow: hidden;
	text-align: center;
	opacity: 1;
	transition: 0.3s;
}

.techCardText {
}
.javascript {
	background-color: #d8c025 !important;
	color: white;
}

.react {
	background-color: #0192f3;
}

.nextjs {
	background-color: #2f3640;
}

@media only screen and (max-width: 600px) {
	.techCardContainer {
		display: inline-block;
		padding: 3px 5px;
		margin-right: 20px;
		font-size: 10px !important;
		font-family: "Inter";
		font-weight: 600;
		border-radius: 3px;
		width: 0px;
		overflow: hidden;
		text-align: center;
		opacity: 0;
		transition: 0.3s;
	}

	.techCardOpen {
		display: inline-block;
		padding: 3px 5px;
		
		font-family: "Inter";
		font-size: 12px;
		font-weight: 600;
		border-radius: 3px;
		width: 90px !important;
		overflow: hidden;
		text-align: center;
		opacity: 1;
		transition: 0.3s;
	}
}
