.emailFormContainer {
	position: absolute;
	background-color: white;
	opacity: 0;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 500px;
	height: 700px;
	padding: 15px;
	border-radius: 5px;
	box-shadow: 0px 0px 2px 2px rgb(97, 97, 97);
	z-index: 10;
	transition: 0.1s;
}

.inputContainer {
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	width: 90%;
	margin-bottom: 15px;
}

.inputHeader {
	display: block;
	margin-bottom: 20px;
	font-family: "Inter";
	font-weight: bold;
	color: #2f3640;
	font-size: 20px;
	z-index: -1;
}

.formInput {
	width: 100%;
	padding: 15px;
	margin-bottom: 10px;
	border: 2px solid rgb(189, 189, 189);
	border-radius: 5px;
	font-family: "Inter";
	font-size: 18px;
	transition: 0.3s;
}

.formInput:hover {
	border-color: black;
}

.emailMessageInputContainer textarea {
	height: 200px;
}

#nameInput {
}

#emailInput {
}

#messageInput {
	height: 200px;
	resize: none;
}

.submitButton {
	position: absolute;
	bottom: 15px;
	left: 50%;
	transform: translateX(-50%);
	border-style: none;
	padding: 10px 20px;
	width: 60%;
	font-family: "Inter";
	font-size: 30px;
	font-weight: bold;
	background-color: rgb(25, 60, 255);
	color: white;
	border-radius: 5px;
	transition: 0.3s;
}

.submitButton:hover {
	cursor: pointer;
	background-color: rgb(2, 2, 172);
	width: 70%;
}

.closeButton {
	position: absolute;
	top: 15px;
	right: 15px;
	color: red;
	padding: 5px;
	width: 25px;
	height: 25px;
}

.messageConfirmation {
	position: relative;
	left: 50%;
	opacity: 0;
	top: 30px;
	transform: translateX(-50%);
	padding: 10px;
	font-family: "Inter";
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	background-color: rgb(4, 187, 50);
	border-radius: 3px;
	color: white;
	width: 90%;
	transition: 0.2s;
}

@media only screen and (max-width: 700px) {
	.emailFormContainer {
		width: 80%;
		height: 90%;
	}

	.inputHeader {
		font-size: 18px;
	}

	.formInput {
		font-size: 16px;
	}
}

@media only screen and (max-width: 700px) {
	.emailFormContainer {
		width: 90%;
		height: 80%;
	}

	.messageInput {
		height: 120px;
	}

	.messageConfirmation {
		font-size: 17px;
	}
}
